# Jupyter Notebooks & Python

**NOTE:** This is a template designed to demonstrate a literate programming workflow that incorporates Markdown text with Python code. As we work through this, please use the opportunity to practice Markdown syntax and coding - write anything and code anything! For now, accuracy is less important than practice!

## Jupyter Tips

Unlike an R Markdown file, which has to be *knit* in order for Markdown to be rendered, in a Jupyter Notebook we only need to execute a cell of Markdown formatted text. 

When a new cell is created, by default it is a code block for executing Python, R, or any other supported language. The convert cells into Markdown cells, we can

* type ```ESC + m``` OR
* select **Cell->Cell Type->Markdown**.

Once we have coverted the cell to Markdown, we can render it by running or executing the cell. Here again we have mouse/menu and keyboard options. Making sure the cell we want to execute is selected, we can

* hit the **Run** button at the top of the screen OR
* select **Cell->Run Cells** OR
* type ```CTL + Enter``` to run the cell OR
* type ```SHIFT + Enter``` to run the cell and create a new, empty cell.

Double click a Markdown cell to edit it once it has been rendered. Alternatively, with the cell selected hit ```Enter```.

Sometimes we may accidentally hit a keyboard combination that converts a code cell to a Markdown or raw text cell. When this happens, we can use a similar process as above to convert a cell to code:

* type ```ESC + Y``` OR
* select **Cell->Cell Type->Code**.

Code cells are executed using the same commands or keyboard shortcuts as listed above for rendering Markdown.

## Abstract

Write a brief paragraph about the research topic. For our purposes today, replace this text with a sentence or two about the dataset and trends you expect to explore. Include a bulleted list.

* One thing the data may indicate
* A second thing the data may indicate

*keywords*: markdown, jupyter, python, literate computing

## Introduction

Write a sentence or two about why we are interested in this topic. What makes it relevant or interesting? What can we learn from studying this topic? Also add some research questions in the form of a numbered list.

1. Research question 1
1. Research question 2

## Methods

Refer to the dataset documentation at <http://data.cabq.gov/government/vendorcheckbook/MetaData.pdf>. Replace this test with a summary of how the data are collected, quality assured, etc. Add third level headers as appropriate. An example outline may be:

### Data Collection

Info here


### Quality Assurance

Info here

## Results

Add some text explaining your analysis. Include Markdown and code blocks.

In [1]:
# Import libraries - this will work if Anaconda is installed
# If using some other Python distribution, it may be necessary
# to install some of these libraries.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read the city checkbook data
ckbk = pd.read_csv("./data/abq_vendor_data_2019-2021.csv")

Note that Jupyter provides a nicely formatted output for tables.

In [4]:
ckbk.head()

,NAME1,PAYMENT REFERENCE NUMBER,INVOICE NUMBER,INVOICE DATE,PAYMENT DATE,INVOICE AMOUNT,invoice_year,invoice_month,payment_year,payment_month,billed_duration
0,1 ST HEALTH INC,9411323,NMSM4976-110320FMV,2020-11-03,2020-12-08,34.25,2020,11,2020,12,35.0
1,10 TANKER AIR CARRIER,9414239,TCA122320,2020-12-23,2021-01-06,7635.13,2020,12,2021,1,14.0
2,"101 PROPERTY, LLC",2668912,SMLL_BUS_GRNT_236,2020-12-02,2020-12-04,10000.00,2020,12,2020,12,2.0
3,110 SUNPORT LLC DBA HOLIDAY,2668724,SMLL_BUS_GRNT_146,2020-11-18,2020-11-19,10000.00,2020,11,2020,11,1.0
4,13TH JUDICIAL DISTRICT COURT,2670551,05212021,2021-05-21,2021-05-21,6200.00,2021,5,2021,5,0.0

Generate some descriptive statistics and create a Markdown block to discuss any trends evident. Note that Pandas will treat most of our date variables as well as invoice numbers and payment reference numbers as numeric data types unless we change them.

In [7]:
ckbk = ckbk.astype({"invoice_year": "object", "invoice_month": "object", 
                    "payment_year": "object", "payment_month": "object",
                   "PAYMENT REFERENCE NUMBER": "object", "INVOICE NUMBER": "object"})

print("Average invoice amount:", ckbk["INVOICE AMOUNT"].mean())
print("Average days between invoicing and payment:", ckbk["billed_duration"].mean())

Average invoice amount: 2494.4167575089245
Average days between invoicing and payment: 26.2629970223608

Using the example above, generate additional descriptive statistics (standard deviation, min, max, median) for the fields "INVOICE AMOUNT" and "billed_duration." How much variation do we see in invoice amounts and the amount of time between invoicing and payment? 

1. Add a new code empty block below this one.
1. Refer to the code in the block above to generate some statistics.
1. Write up a brief interpetation of the stats.

Next we aggregate the data per year. Note that data for 2021 are only partial.

In [8]:
# Group the data by year
# Quick comparison of spending

by_year = ckbk.groupby("invoice_year")
yr_sums = pd.DataFrame(columns=["year", "count_invoices", "total_invoiced"])
for name, group in by_year:
    print(name, group["INVOICE AMOUNT"].sum())
    ct_invoices = len(group)
    total_invoices = group["INVOICE AMOUNT"].sum()
    yr_sums = yr_sums.append(pd.DataFrame([[name, ct_invoices, total_invoices]],
                                          columns=["year", "count_invoices", "total_invoiced"]))

2019 258238433.7
2020 559475467.7099999
2021 319904771.52000004

Now:

1. Add a new, empty code block below to generate 
    1. A table showing the total invoices per year using the 'yr_sums' dataframe
    1. A plot of the table
1. After the code block, add a Markdown block to interpret the data

In [11]:
# Group the data by vendor
# do a bit of summarizing per vendor

per_vendor = ckbk.groupby("NAME1")
cols = ["vendor", "total_ct_invoices", 
        "sum_invoiced", "avg_invoice", "avg_billed_duration"]
pv = pd.DataFrame(columns=cols)
for name, group in per_vendor:
    ct_inv = len(group)
    sum_inv = group["INVOICE AMOUNT"].sum()
    sum_ttp = group["billed_duration"].sum()
    avg_inv = round(sum_inv / ct_inv, 2)
    avg_ttp = round(sum_ttp / ct_inv, 2)
    pv = pv.append(pd.DataFrame([[name, ct_inv, sum_inv, avg_inv, avg_ttp]], 
                                columns=cols))
    
# We will also sort the new dataframe by amount invoiced per vendor
# with the vendors receiving the most money at the top
pv.sort_values(by=["sum_invoiced"], inplace=True, ascending=False)

Now:
    
1. Add a new, empty code block below to generate 
    1. A table showing the first five vendors in the 'pv' dataframe 
    1. A plot of the first five vendors in the 'pv' dataframe
1. After the code block, add a Markdown block to interpret the data

Looking at the data in both of our grouped dataframes, what other trends can we explore?

On your own and using our code above as examples, sort and plot the data to highlight one of these trends. Create new code and Markdown blocks as needed to accomplish this.

## Discussion

Add a few sentences to discuss the impact of the COVID-19 pandemic on city spending, as evidenced by the data.


## Conclusion

Summarize the research and additional research topics to explore that can further highlight the effect of the pandemic on city spending.